<div class="border-start border-5 m-3"><p class="m-3" ><%= @question %> <div class="m-3">--You</div></p></div>
<div class="border-start border-5 m-3 bg-warning"><p class="m-3"><%= @answer %> <div class="m-3">--Coach</div></p></div>
